<div class="Navigation">
  <ul>
    <% @pages.each do |page| %>
      <li><a href="/website/<%= @domain_link %>%2F<%= page.slug %>"><%= page.name %></a></li>
    <% end %>
  </ul>
</div>

<title><%= @site.title %> - <%= @page.name %></title>

<% @elements.each do |element| %>
  <<%= element.element %><% element.attributes_hash.each do |key, value| %> <%= key %>='<%= value %>'<% end %>>
  <%= element.content %>
  </<%= element.element %>>
<% end %>
